__pycache__/
*.py[cod]
.DS_Store
.venv/
*.egg-info/
.idea/
.vscode/
plots/
/models/
snakeGameQDlearning/models/saved_models/model_v*.pth
snakeGameQDlearning/models/saved_models/model_v*_metadata.json
